body{
    position: relative;
    background-image: url(./imgs/Back.gif);
    background-repeat:no-repeat;
    background-size:cover ;
    /* background-position: ; */
    height: 950px;
}
.mainLogo{
    height: 150px;
    width: 30%;
    position: absolute;
    left: 30%;

}
.cardSelection{
    box-sizing: border-box 1px solid black;
    }
    section{
    border:2px black solid;
    height:150px;
    width:120px;
    float:left;
    margin:1% 1% 1% 1%;
    border-radius:6px;
    }
    .cardSection{
    height:85%;
    width:50%;
    border:3px rgb(0, 0, 0) solid;
    border-radius:5px;
    position: absolute;
    top: 15%;
    right: 25%;
    background-image:url(./imgs/wood.jpg) ;
    }
    .card{
        background-position:center ;
        background-size:cover;
        height:180px;
        width:155px;
    }
    img{
        width: 100%;
    }
    h1,h2{
        float: left;
        font-family: 'Noto Sans', sans-serif;
        color: white;
        text-shadow: 1px 3px 0px black;

    }
    h2{
        font-size: 20px;
        
    }
    .text{
        float: left;
        width: 20%;
        height: 300px;
    }
   
    